:root {
  --landing-gradient: linear-gradient(transparent, 95%, black),
    linear-gradient(180deg, #fa9c9c 0%, #922525 100%),
    radial-gradient(60.91% 100% at 50% 0%, #fdbbbb 0%, #260000 100%),
    linear-gradient(238.72deg, #ffdddd 0%, #720066 100%),
    linear-gradient(127.43deg, #26b5e0 0%, #ff4444 100%),
    radial-gradient(100.22% 100% at 70.57% 0%, #ff0000 0%, #26b5e0 100%),
    linear-gradient(127.43deg, #b7d500 0%, #3300ff 100%);
  --about-gradient: linear-gradient(-135deg, transparent, 50%, black),
    linear-gradient(180deg, #fa9c9c 0%, #922525 100%),
    radial-gradient(60.91% 100% at 50% 0%, #fdbbbb 0%, #260000 100%),
    linear-gradient(238.72deg, #ffdddd 0%, #720066 100%),
    linear-gradient(127.43deg, #26b5e0 0%, #ff4444 100%),
    radial-gradient(100.22% 100% at 70.57% 0%, #ff0000 0%, #26b5e0 100%),
    linear-gradient(127.43deg, #b7d500 0%, #3300ff 100%);
  --footer-gradient: linear-gradient(0deg, #ffa3d5, #a62fd0, black);
  --gradient-primary: linear-gradient(45deg, #f27121, #ff0058);
  --gradient-secondary: linear-gradient(315deg, #03a9f4, #ff0058);
  --gradient-tertiary: linear-gradient(315deg, #9d50bb, #03a9f4);
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background: black;
  color: white;
}

h4 {
  font-size: 18px;
}

footer {
  background: var(--footer-gradient);
  padding: 100px 50px;
}

.card-body li {
  list-style-type: none;
}

.card-body ul {
  padding: 0;
}

.landing-introduction {
  background: var(--landing-gradient);
  background-blend-mode: normal, screen, overlay, hard-light, color-burn,
    color-dodge;
  text-align: center;
  padding: 200px 0 50px;
}

.about-introduction {
  background: var(--about-gradient);
  background-blend-mode: normal, screen, overlay, hard-light, color-burn,
    color-dodge;
  text-align: left;
  padding: 100px 0 50px;
  margin-bottom: 50px;
}

.explore-link {
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-top: 150px;
  color: white;
  transition: ease-in-out 0.5s;
}

.read-more-link {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  font-size: 20px;
  color: white;
  transition: ease-in-out 0.5s;
  border: 1px solid white;
  border-radius: 4px;
}

.qualification-links {
  display: flex;
  justify-content: center;
}

.about-links {
  text-decoration: none;
  text-align: center;
  width: 200px;
  font-size: 16px;
  color: white;
  transition: ease-in-out 0.5s;
  border: 1px solid white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.explore-link:hover,
.read-more-link:hover,
.about-links:hover {
  letter-spacing: 2px;
  color: white;
}

.about-landing {
  margin-top: 150px;
  margin-bottom: 150px;
}

.card-body {
  position: relative;
  z-index: 2;
}

.about-card,
.education-card,
.skills-card {
  transition: ease-in-out 0.5s;
  margin-top: 10px;
}

.about-card:hover,
.education-card:hover,
.skills-card:hover {
  transform: translateY(-20px);
}

.about-card::before,
.education-card::before,
.skills-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about-card::after,
.education-card::after,
.skills-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}
.about-card::before,
.about-card::after {
  background: var(--gradient-primary);
}
.education-card::before,
.education-card::after {
  background: var(--gradient-secondary);
}

.skills-card::before,
.skills-card::after {
  background: var(--gradient-tertiary);
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logos {
  width: 18%;
  max-width: 58px;
  background: rgb(255, 255, 255, 0.4);
  padding: 4px;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0px 5px 5px #03a9f4;
}

.logos:hover {
  box-shadow: 2px 8px 5px #03a9f4;
}

.profile-image {
  border-radius: 50%;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0px 0px 50px 5px #9d50bb;
}

@media (max-width: 576px) {
  h3 {
    text-align: center;
  }

  .about-introduction h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .landing-introduction {
    padding: 100px 0 50px;
  }

  .landing-introduction img {
    max-width: 50%;
  }
  .col-10,
  .col-5 {
    width: 90%;
  }

  .about-card {
    margin-top: 50px;
    text-align: center;
  }
}
