body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background: black;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.education-card h3 {
  animation: flow 5s ease-in-out infinite;
  background: linear-gradient(60deg, #c471ed, white);
  background-size: 300%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.education-card h4 {
  font-size: 18px;
}

.about-card h3 {
  animation: flow 5s ease-in-out infinite;
  background: linear-gradient(60deg, #12c2e9, white);
  background-size: 300%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-card h3 {
  animation: flow 5s ease-in-out infinite;
  background: linear-gradient(60deg, #f64f59, white);
  background-size: 300%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.landing-introduction {
  background: linear-gradient(transparent, 95%, black),
    linear-gradient(180deg, #fa9c9c 0%, #922525 100%),
    radial-gradient(60.91% 100% at 50% 0%, #fdbbbb 0%, #260000 100%),
    linear-gradient(238.72deg, #ffdddd 0%, #720066 100%),
    linear-gradient(127.43deg, #26b5e0 0%, #ff4444 100%),
    radial-gradient(100.22% 100% at 70.57% 0%, #ff0000 0%, #26b5e0 100%),
    linear-gradient(127.43deg, #b7d500 0%, #3300ff 100%),
    linear-gradient(transparent, black 95%);
  background-blend-mode: normal, screen, overlay, hard-light, color-burn,
    color-dodge, normal;
  text-align: center;
  color: white;
  padding: 200px 0 50px;
}

.explore-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: block;
  margin-top: 150px;
}

.education-card {
  box-shadow: 0px 5px 10px #c471ed;
  border-color: #c471ed;
  color: white;
  transition: ease-in-out 0.2s;
}

.education-card:hover {
  box-shadow: 1px 10px 20px #c471ed;
  border-color: #e848fc;
}

.about-card {
  box-shadow: 0px 5px 10px #12c2e9;
  border-color: #12c2e9;
  transition: ease-in-out 0.2s;
  color: white;
}
.about-card:hover {
  box-shadow: 1px 10px 20px #12c2e9;
  border-color: #12c2e9;
}

.skills-card {
  box-shadow: 0px 5px 10px #f64f59;
  border-color: #f64f59;
  transition: ease-in-out 0.2s;
  color: white;
}
.skills-card:hover {
  box-shadow: 1px 10px 20px #f64f59;
  border-color: #f64f59;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logos {
  width: 18%;
  background: rgb(255, 255, 255, 0.4);
  padding: 4px;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0px 5px 5px #f64f59;
}

.logos:hover {
  box-shadow: 2px 8px 5px #f64f59;
}

.about-image {
  --angle: 0deg;
  border: 3em solid;
  border-image: linear-gradient(0deg, #12c2e9, white) 1;
  animation: flow 10s linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
